blobfile==2.0.2
brotlipy==0.7.0
certifi
cffi
charset-normalizer
contourpy==1.1.0
cryptography
cycler==0.11.0
deepspeed==0.4.0
einops==0.6.1
exceptiongroup==1.1.3
fairscale==0.4.0
filelock
fonttools==4.42.1
fsspec==2023.6.0
ftfy==6.1.1
gmpy2
huggingface-hub==0.16.4
idna
iniconfig==2.0.0
Jinja2
kiwisolver==1.4.5
lxml==4.9.3
MarkupSafe
matplotlib==3.7.2
mkl-fft==1.3.6
mkl-random
mkl-service==2.4.0
mpmath
mypy==1.5.1
mypy-extensions==1.0.0
networkx
ninja==1.11.1
numpy
opencv-python==4.8.0.76
packaging==23.1
Pillow==9.4.0
pluggy==1.3.0
protobuf==3.20.0
psutil==5.9.5
pyarrow==13.0.0
pycocoevalcap==1.2
pycocotools==2.0.7
pycparser
pycryptodomex==3.18.0
pyDeprecate==0.3.2
pyOpenSSL
pyparsing==3.0.9
PySocks
pytest==7.4.0
python-dateutil==2.8.2
PyYAML==6.0.1
regex==2023.8.8
requests
safetensors==0.3.3
scipy==1.11.2
sentencepiece==0.1.99
six==1.16.0
some-package==0.1
sympy
tensorboardX==1.8
timm==0.4.12
tokenizers==0.13.3
tomli==2.0.1
torch==2.0.1
torchaudio==2.0.2
torchmetrics==0.7.3
torchscale==0.2.0
torchsummary==1.5.1
torchvision==0.15.2
tqdm==4.66.1
transformers==4.32.1
triton==2.0.0
typing_extensions
urllib3
wcwidth==0.2.6

